# requirements.txt
# ─────────────────────────────────────────
# Data Processing
# ─────────────────────────────────────────
pandas==2.1.4
pyarrow==14.0.2

# ─────────────────────────────────────────
# MinIO Client
# ─────────────────────────────────────────
minio==7.2.3

# ─────────────────────────────────────────
# Trino Client
# ─────────────────────────────────────────
trino==0.328.0

# ─────────────────────────────────────────
# Faker — génération de données fictives
# ─────────────────────────────────────────
Faker==22.0.0

# ─────────────────────────────────────────
# PySpark
# ─────────────────────────────────────────
pyspark==3.5.0

# ─────────────────────────────────────────
# Utilitaires
# ─────────────────────────────────────────
python-dateutil==2.8.2
pytz==2024.1